<div padding style="margin-top:85%;">

  <div>

    <ion-row style="border-bottom:1px solid">
      <ion-col>
        <h3 style="text-align:center;margin-top: 4px;">SUPPORT</h3>
      </ion-col>
      <ion-col>
        <ion-buttons end>
          <button (click)="dismiss()" style="background: white;font-size:25px;margin-top:0px;">
            <ion-icon name="close-circle"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>

    <ion-row style="background:white;margin-top:3px;">
      <ion-col (click)="lockIssues()">
        <img src="assets/imgs/lock-issues1.png" width="50" height="50" style="margin-top:3%;margin-left:32%;">
        <p style="text-align:center;">Lock Issue</p>
      </ion-col>

      <ion-col (click)="reportMisuse()">
        <img src="assets/imgs/scooter1.png" width="50" height="50" style="margin-top:3%;margin-left:32%;">
        <p style="text-align:center;">Report Misuse</p>
      </ion-col>



    </ion-row>
    <ion-row style="background:white;margin-top:3px;">
      <ion-col (click)="bikeIssue()">
        <img src="assets/imgs/scooter.png" width="50" height="50" style="margin-top:3%;margin-left:32%;">
        <p style="text-align:center;">Bike Issue</p>
      </ion-col>

      <ion-col (click)="rideBilling()">
        <img src="assets/imgs/ridebilling1.png" width="50" height="50" style="margin-top:3%;margin-left:32%;">
        <p style="text-align:center;">Ride & Billing</p>
      </ion-col>

    </ion-row>
  </div>
</div>