page-zogomodal {
div{
    height:50%;
    width: 100%;
    background-color:white;
}

div::backdrop { position: relative; top: 0; right: 0; bottom: 0; left: 0;}
 //background-color: rgba(0,0,0,0.7); z-index: 990; }
}
