<ion-content no-padding>
    <div style="background:#8eda4a;">
        <ion-card style="margin: 0px;width: 28%;border-radius: 15px;padding-top: 46ppx;position: fixed;margin-top: 30px;margin-left: 37%;margin-bottom: 20px;">
            <img src="assets/icon/zogologo.png" style="width: 60%;margin: 18%;">
        </ion-card>
        <h5 style="margin: 0%;color: white;font-weight: 300;padding-top: 44%;text-align: center;font-size: 1.8rem;padding-bottom: 73px;">Sign In</h5>
    </div>
    <div>
        <div>
            <ion-card style="margin-top: -16%;border-radius: 4%;height: 180px;">
                <form [formGroup]="loginForm" style="margin-top: 8%;">
                    <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
                        <ion-col col-10 no-padding>
                            <ion-input placeholder="E-mail or Mobile No." formControlName="username"></ion-input>
                        </ion-col>
                        <ion-col col-2 no-padding style="text-align: right;margin-top: 7%;color: gray;">
                            <ion-icon name="mail"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p *ngIf="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)" style="text-align:center;color:red;">username required!</p>
                    <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
                        <ion-col col-10 no-padding>
                            <ion-input placeholder="Password*" type="{{type}}" formControlName="password"></ion-input>
                        </ion-col>
                        <ion-col col-2 no-padding style="text-align: right;margin-top: 7%;color: gray;" (click)="toggleShow()">
                            <ion-icon name="eye"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)" style="text-align:center;color:red;">password required!</p>
                </form>
            </ion-card>
        </div>
        <div style="margin: -30px 0px 0px 95px;">
            <button ion-button round style="width: 18.2rem;color:white;background: #8eda4a;font-weight:400;text-transform: none;" (click)="userlogin()">Sign In</button>
            <p (tap)="forgotPassFunc()" style="margin-left: 36px;color: grey;">Forgot Password ?</p>
            <div (click)="gotosignuppage()" style="padding-top: 25px;">
                <p style="color:grey;margin-left: -13px;">Don't have an account ?
                    <span style="color: black;margin-left: 5px;">Sign Up</span>
                </p>
            </div>
        </div>
    </div>
</ion-content>