<ion-header>
  <ion-navbar class="navColor">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <div id="maptrack"></div>
</ion-content>
<ion-footer style="width: 90%;
height: 126px;
background: #ffffff;
margin-left: 5%;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
box-shadow: 0px 1px 15px 3px #cfcfcf;">
  <ion-row style="font-size: 14px">
    <ion-col>
      <p style="text-align:center;width: 100%; color:#808080">{{totalTripdistance}} Kms.</p>
    </ion-col>
    <!-- showDistance -->
    <ion-col style="margin-left: 12%;">
      <img src="assets/icon/bikeLogo.png" style="height: 41px;margin-left: 30p">
    </ion-col>
    <ion-col>
      <p style="text-align:center;width: 100%; color:#808080">{{displayTime}}</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button full style="height: 37px;background: #87c23f;font-size: 14px;" (click)="endRideNewMethod()">End Ride</button>
    </ion-col>
    <ion-col>
      <button *ngIf="parked" ion-button full style="height: 37px;background: #87c23f;font-size: 14px;" (click)="DevicePark(0)">Pause Ride</button>
      <button *ngIf="resume" ion-button full style="height: 37px;background: #87c23f;font-size: 14px;" (click)="DevicePark(1)">Resume Ride</button>
    </ion-col>
  </ion-row>
</ion-footer>