booking-detail {
    .mainStyle{
        background: white;
        position: relative;
        top: 25%;
        .row{

            width: 90%;
            margin-left: 5%;
            background: #f7f7f7;
            border: 1px solid #d8d7d7;
           
            border-radius: 4px
           
        }
       
    }
}
