<ion-content no-padding>
  <ion-grid style="background: #131746;">
    <ion-icon name="md-arrow-back" style="font-size: 2.6em;color: white;margin: 1% 0% 0% 4%;" (click)="goBack()"></ion-icon>
    <ion-icon name="ios-document-outline" style="font-size: 8.6em;color: white;margin: 10% 0% 0% 43%;"></ion-icon>
    <!-- <img src="assets/icon/docupload.png" style="width: 60%;margin: 18%;"> -->
    <h5 style="color: white;margin-top: 1.0rem;text-align: center;font-weight: 400;">You need to Upload your</h5>
    <h3 style="color: white;font-size: 2.6rem;margin-top: 0rem;text-align: center;margin-bottom: 12%;">Driving License</h3>
  </ion-grid>
  <ion-row style="padding: 10%;padding-top:0% ;padding-bottom: 2%;">
    <ion-col col-2 style="padding-top: 10%;">
      <ion-icon ios="ios-image" md="md-image" style="font-size: 3.0em;color: #131746e8;"></ion-icon>
    </ion-col>
    <ion-col col-10 style="padding-top: 11%" (click)="presentActionSheet()">
      <p style="font-size: 1.4rem;margin: 0% 0% 0% 0%;">Select the document form gallery</p>
      <p style="margin: 0%;color: #6f6b6b;">png, jpg or jpeg </p>
      <p>Image
        <span>{{lastImage}}</span>
      </p>
    </ion-col>
    <button ion-button icon-start round style="margin: 5% 0% 0% 27%;height: 4.2rem;background: #FF9800;" (click)="uploadImage()"
      [disabled]="lastImage === null">
      <ion-icon name="camera"></ion-icon>
      Upload
    </button>
  </ion-row>
  <ion-row style="height:23%;padding:2% 10% 0% 10%">
    <img src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="lastImage === null">
  </ion-row>
</ion-content>