<ion-content no-padding>
  <ion-grid style="height:45%;background:#8eda4a;">
    <ion-card style="margin: 0px;width: 28%;border-radius: 15px;padding-top: 46ppx;position: fixed;margin-top: 30px;margin-left: 37%;margin-bottom: 20px;">
      <img src="assets/icon/zogologo.png" style="width: 60%;margin: 18%;">
    </ion-card>
    <h5 style="margin: 10px 0px 0px 18px;;color: white;font-weight: 400;padding-top: 41%;text-align: center;font-size: 1.8rem;">Feedback</h5>
  </ion-grid>
  <ion-card style="width: 90%;height: 61%;margin-top: -54px;margin-left: 5%;border-radius: 8%;">
    <ion-icon name="ios-send" style="font-size: 8.8em;margin: 16% 0% 0% 39%;color: #72ab3d;"></ion-icon>
  </ion-card>
  <ion-row class="userRating">
    <ul class="rate-area">
      <input type="radio" id="5-star" name="rating" value="5" />
      <label for="5-star" title="Amazing">5 stars</label>
      <input type="radio" id="4-star" name="rating" value="4" />
      <label for="4-star" title="Good">4 stars</label>
      <input type="radio" id="3-star" name="rating" value="3" />
      <label for="3-star" title="Average">3 stars</label>
      <input type="radio" id="2-star" name="rating" value="2" />
      <label for="2-star" title="Not Good">2 stars</label>
      <input type="radio" id="1-star" name="rating" value="1" />
      <label for="1-star" title="Bad">1 star</label>
    </ul>

  </ion-row>
</ion-content>
<ion-footer style="width: 90%;
height: 100px;
background: #ffffff;
margin-left: 5%;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
box-shadow: 0px 1px 15px 3px #cfcfcf;">
  <ion-row style="margin-top: 22px;width: 90%;margin-left: 5%;">
    <ion-col>
      <button ion-button full style="margin: 0%;height:50px;background:#87c23f;font-size: 18px;text-transform: none;border-radius: 6px;"
        (click)="comment()">Comment</button>
    </ion-col>
    <ion-col>
      <button ion-button full style="margin: 0%;height:50px;background:#87c23f;font-size: 18px;text-transform:none;border-radius: 6px;"
        (click)="done()">Done</button>
    </ion-col>
  </ion-row>
</ion-footer>