<ion-header>
  <ion-navbar>
    <ion-title>Ride Billing</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-item  *ngFor="let d of data" (click)="toggleDetails(d)"><ion-icon color="echo" item-right [name]="d.icon"></ion-icon>
      {{d.title}}
      <div *ngIf="d.showDetails">{{d.details}}</div>
    </ion-item>
  </ion-list>

</ion-content>
