<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content class="map-main" no-padding>
  <div id="map_canvas">
    <ion-fab bottom left style="margin-bottom: 26%;">
      <button ion-fab mini (click)="OpenPopUp()" color="{{mapHideTraffic ? 'light' : 'echo'}}">
        <ion-icon name="headset" color="{{mapHideTraffic ? 'dark-grey' : 'black'}}"></ion-icon>
      </button>
    </ion-fab>
  </div>

  <div class="location_sel">
    <ion-card class="pickup_from" (click)="search_places()" style="padding:0px;">
      <ion-row no-padding>
        <ion-col col-2>
          <ion-icon style="font-size: 46px;color: #8eda4a;margin-top: 9px;margin-left: 8px;margin-bottom: 9px;" name="md-pin"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <p style="font-size: 1.6rem;margin-top: 12px;text-align: left">Pickup location</p>
          <p style="font-size: 1.4rem;white-space: nowrap;color:#808080;text-align: left;">{{locationShow}}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <ion-icon name="ios-locate-outline" class="navStyle" (click)="sethome()"></ion-icon>
</ion-content>
<ion-row *ngIf="showActionSheet">
  <ion-footer style="width: 90%;
  height: 100px;
  background: #ffffff;
  margin-left: 5%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0px 1px 15px 3px #cfcfcf;">
    <ion-row style="font-size: 14px">
      <ion-col>
        <p style="text-align:center;width: 100%;">{{total_distance?total_distance:0}}</p>
      </ion-col>
      <ion-col>
        <p style="text-align:center;width: 100%;">{{total_veh?total_veh:0}}</p>
      </ion-col>
      <ion-col (click)="navigate()">
        <p style="text-align:center;width: 100%;">Navigate</p>
      </ion-col>
    </ion-row>
    <button ion-button full style="margin: 0%;width: 80%;height: 36px;background: #87c23f;font-size: 14px;margin-left: 10%;"
      (click)="availableStations()">Checkout Stations</button>
  </ion-footer>
</ion-row>