<ion-content no-padding class="no-scroll">
  <div style="height:40%;background:#8eda4a;">
    <ion-card style="margin: 0px;width: 28%;border-radius: 15px;padding-top: 46ppx;position: fixed;margin-top: 30px;margin-left: 37%;margin-bottom: 20px;">
      <img src="assets/icon/zogologo.png" style="width: 60%;margin: 18%;">
    </ion-card>
    <h5 style="margin: 0%;color: white;font-weight: 300;padding-top: 41%;text-align: center;font-size: 1.8rem;">Sign Up</h5>
  </div>
  <div>
    <div>
      <ion-card style="margin-top: -21%;border-radius: 4%;height: 302px;">
        <form [formGroup]="signupFormNew">
          <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
            <ion-col no-padding>
              <ion-select>
                <ion-option *ngFor="let type of DlType">
                  {{type.viewValue}}
                </ion-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
            <ion-col col-10 no-padding>
              <ion-input placeholder="Enter Your Driving License No." formControlName="DlNo"></ion-input>
            </ion-col>
            <ion-col col-2 no-padding style="text-align: right;margin-top: 7%;color: gray;">
              <ion-icon name="md-create"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
            <ion-col col-10 no-padding>
              <ion-input placeholder="Name as on Driving License*" formControlName="Name"></ion-input>
            </ion-col>
            <ion-col col-2 no-padding style="text-align: right;margin-top: 7%;color: gray;">
              <ion-icon name="person"></ion-icon>
            </ion-col>
          </ion-row>
        </form>
      </ion-card>
    </div>
    <div style="margin: -30px 0px 0px 95px;">
      <button ion-button round style="width: 18.2rem;color:white;background: #8eda4a;font-weight:400;text-transform: none;"
        (click)="continue()">Continue</button>
      <div (click)="gotoLogin()">
        <p style="color:grey;margin-left: -13px;">Skip</p>
      </div>
    </div>
  </div>
</ion-content>