<ion-content no-padding>
    <ion-grid class="edt_profile" no-padding>
        <ion-row style="margin-bottom: 0px">
            <button ion-button icon-start (click)="goBack()" style="background:#8eda4a;box-shadow:none;padding-left: 0px;">
                <ion-icon name="md-arrow-back"></ion-icon>
            </button>
        </ion-row>
        <ion-row style="margin:0px;">
            <ion-icon class="profile_image" name="ios-contact"></ion-icon>
        </ion-row>
        <p style="font-size: 20px;margin: 5px 0px 12px 0px;color: white;font-weight: 400;">User Profile</p>
    </ion-grid>
    <ion-grid style="margin-top: 5px;">
        <form [formGroup]="userprofile">
            <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
                <ion-col no-padding>
                    <ion-input placeholder="User Id" formControlName="uid"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
                <ion-col no-padding>
                    <ion-input placeholder="Your Rides" formControlName="yourRide"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
                <ion-col no-padding>
                    <ion-input placeholder="Payments" formControlName="payment"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
                <ion-col no-padding>
                    <ion-input placeholder="Help" type="text" formControlName="help"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
                <ion-col no-padding>
                    <ion-input type="text" placeholder="Document" formControlName="user_doc"></ion-input>
                </ion-col>
            </ion-row>
        </form>

    </ion-grid>
</ion-content>
<ion-footer>
    <ion-row no-padding>
        <ion-col>
            <button ion-button full outline style="border: 0px;font-weight: 400;color: black;text-transform: none;font-size: 18px;">Settings</button>
        </ion-col>
        <ion-col>
            <button ion-button full outline style="border: 0px;font-weight: 400;color: black;text-transform: none;font-size: 18px;">Legal</button>
        </ion-col>
    </ion-row>
</ion-footer>