page-my-profile {
    ::-webkit-scrollbar {
        display: none
    }
    .headerStyle ion-header .toolbar-background{
        background-color: red;

    }
    .navColor .toolbar-background{
        background-color: red;
    }
    .navColor .title.title-md .toolbar-title.toolbar-title-md {
        color: white;
    }
    .page-title {
        font-size: 1.8rem;
        color: #fff;
        margin: 7px 0 0;
        letter-spacing: 0.05rem;
        font-weight: 400;
    }
    .prev_btn {
        margin: 0;
        color: #fff;
    }
    .back-button-text-ios {
        display: none;
    }
    .scroll-content ion-grid:first-child {
        background-color: #8eda4a;
    }
    .edt_profile {
        position: relative;
        ion-row:first-child {
            margin: 15px;
            border: none;
            box-shadow: none;
        }
        ion-row {
            box-shadow: 0px 1px 1px #ddd;
            border: none;
        }
        ion-icon {
            width: 15%;
            font-size: 2.8em;
        }
        .profile_image {
            width: 100%;
            font-size: 124px;
            text-align: center;
            color: #f6f6f6
        }
        .add_profile_img {
            font-size: 2.4rem;
            width: auto;
            position: absolute;
            bottom: 60px;
            right: 37%;
            color: #fff;
            text-shadow: 1px 2px 1px #999;
        }
        p {
          
            padding: 5px 0;
            color: #fff;
            margin: 0;
            text-align: center;
        }
    }
    .username_input,
    .user_gender,
    .user_phone {
        padding: 14px 15px 0;
        ion-row {
            background-color: rgba(194, 224, 158, 0.31);
            color: #444;
            box-shadow: 0px 1px 1px #ddd;
        }
        ion-icon {
            width: 100%;
            font-size: 1.5em;
            padding: 11px 3px 0;
            border-right: 1px solid #ddd;
            max-width: 40px;
            text-align: center;
        }
    }
    .user_gender {
        .label-md,
        .label-ios {
            margin: 15px 8px 0;
        }
        select-icon {
            position: relative;
            width: 12px;
            height: 19px;
            text-align: center;
            padding: 8px 10px;
        }
        .select-md .select-icon {
            position: relative;
            width: 20px;
            height: 19px;
            display: inline-block;
        }
        button {
            position: relative;
        }
    }
    .user_dl_upload {
        padding: 14px 15px 0;
        ion-card {
            margin: 0;
            width: 100%;
            .item-md {
                margin: 0;
                padding: 0;
                ion-icon {
                    padding: 2px 10px;
                }
            }
        }
        ion-icon {
            margin: 0;
        }
    }
}
