<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Trips</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item *ngFor="let tripdata of TripAllData">
    <div (click)="ShowTrip(tripdata)" style="padding-top:8px;">
      <ion-row>
        <ion-col col-9>
          <p style="margin-top:0%;margin-bottom: 5px;">
            <ion-icon ios="ios-time" md="md-time" style="font-size: 17px;"></ion-icon>&nbsp;&nbsp;&nbsp;{{tripdata.Actual_startTime | date:'medium'}}
          </p>

          <p style="font-size:11px;margin-bottom: 5px;">
            <ion-icon name="pin" color="secondary" style="font-size: 17px;"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{tripdata.Loading_Site}}
          </p>
          <p style="font-size:11px;margin-bottom: 5px;">
            <ion-icon name="pin" color="danger" style="font-size: 17px;"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{tripdata.Unloading_Site}}
          </p>
          <p style="font-size:13px;margin-bottom: 5px;margin-left: 23px;">Travel time :&nbsp;&nbsp;{{tripdata.durations!="NaN:NaN"?tripdata.durations:"0:0"}}&nbsp;Min</p>
        </ion-col>
        <ion-col col-3 style="margin-top: 15px;">
          <img src="assets/imgs/cancelled.png" *ngIf="tripdata.Status == 'CANCELLED'" style="height:40px;">
          <img src="assets/imgs/completed.jpg" *ngIf="tripdata.Status == 'COMPLETED'" style="height:40px;">
          <h6 style="color: rgb(36, 221, 129); margin-top: 2%; text-align: right;text-transform: uppercase;font-size: 11px;" *ngIf="tripdata.Status == 'ASSIGNED'">&nbsp;&nbsp;&nbsp;&nbsp;Booked</h6>
          <h6 style="color: rgb(36, 221, 129); margin-top: 2%; text-align: right;text-transform: uppercase;font-size: 11px;" *ngIf="tripdata.Status == 'LOADING'">&nbsp;&nbsp;&nbsp;&nbsp;Transit</h6>
        </ion-col>
      </ion-row>
      <ion-row>
      </ion-row>
    </div>
  </ion-item>

</ion-content>