<ion-menu [content]="content" [swipeEnabled]="false">
  <ion-header>
    <!-- <ion-navbar style="background-image: linear-gradient(to right top, #d80622, #c0002d, #a60033, #8b0935, #6f1133);"> -->
    <div class="headProf" (click)="gotoUserPage()">
      <img src="assets/imgs/dummy-user-img.png">
      <div>
        <h4>{{islogin.fn}}&nbsp;{{islogin.ln}}</h4>
        <p style="font-size: 12px">
          <ion-icon name="mail"></ion-icon>&nbsp;{{islogin.email}}</p>
        <p style="font-size: 12px">
          <ion-icon name="call"></ion-icon>&nbsp;{{islogin.phn}}</p>
      </div>
    </div>
    <!-- </ion-navbar> -->
  </ion-header>

  <ion-content id=outerNew>
    <!-- side menu content -->
    <side-menu-content [settings]="sideMenuSettings" [options]="options" (change)="onOptionSelected($event)"></side-menu-content>
    
  </ion-content>
  <ion-footer>
    <ion-toolbar color="light" (tap)="logout()" class="toolbarmd">
      <ion-title>
        <ion-icon color="danger" name="log-out"></ion-icon>&nbsp;&nbsp;&nbsp;
        <span ion-text color="danger">Logout</span>
      </ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>