// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
side-menu-content{
    background-image: linear-gradient(to right top, #d80622, #c0002d, #a60033, #8b0935, #6f1133);
    background-repeat:no-repeat;
    .item > ion-icon, .item-inner > ion-icon {
        min-height: 2rem;
        font-size: 2rem;
        line-height: 1;
    }
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.toolbar-background {
    background-color:#8eda4a;
  }


side-menu-content ion-item.item-ios.item.item-block, side-menu-content ion-item.item-md.item.item-block, side-menu-content ion-item.item-wp.item.item-block {
    border-bottom: 1px solid #717775;
    background: transparent;
    color: white;
    font-size: 1em;
}

#outerNew{
    // background: url("../assets/imgs/tendencias-en-innovacion-tecnologica-y-proptechs-inmobiliarias-533x337xsmart-cities-opt.jpg.pagespeed.ic_.zsvuwxwqfv-2018-03-02_12-58-50_266848.jpg") no-repeat center center;
    // background: #f53d3d;
    background-image: linear-gradient(to right top, #87C23F, #87C23F, #87C23F, #87C23F, #87C23F);
    background-repeat:no-repeat;
    background-size:cover;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align: center;
    // color: white;
}
.toolbarmd {
    // .toolbar-md {
    //     padding: 4px;
        min-height: 38px;
    // }
}






ion-header {
    .toolbar-background {
        background: linear-gradient(to left bottom, #87C23F, #87C23F, #87C23F, #87C23F, #87C23F);
        // background: linear-gradient(135deg, $header-first-color 0%, $header-last-color 100%);
    }
    .toolbar-title-md,
    .toolbar-title-ios {
        color: #fff;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #fff;
    }

    .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
        color: #fff;
    }
    
}

.EditIcon {
    ion-icon{
        color: 'red';
    }
 }

 .footSty {
    .toolbar-background {
        background: linear-gradient(to left top, #1a1b1c, #2a2b2d, #3d3b3e, #514c4f, #665e5f);
    }
    .toolbar-md,
    .toolbar-ios {
        padding: 0px;
        min-height: 45px;
    }
}

.headProf {
    background-image: linear-gradient(to left top, #1a1b1c, #2a2b2d, #3d3b3e, #514c4f, #665e5f);
    text-align: center;
    padding: 10px;
    color:#f0f0f0;

    img{
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
}
.modal-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.contact-popover .popover-content{ width: 120px; }