<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Refer & Earn</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row style="border-bottom: gray solid 1px;">
    <img src="assets/imgs/gift.png" width="50" height="50" style="    margin-top: 20%;
      margin-left: 38%;">
  </ion-row>
  <p style="text-align:center;
color: #424242;
  width: 80%;
  margin-left: 10%;">Gift your friends free ride and get one free each time you refer</p>

  <ion-card style="background:#87c23f;
    height: 30%;
    border-radius: 4%;margin-top:17%;">

    <ion-card-content>
      <p style="text-align: center;
          color: white;">Share this code with your friend and</p>
      <h3 style="text-align: center;
          color: white;
          font-weight: 600;
          font-size: 19px;">EARN 1 RIDE FREE</h3>
      <div style="    background: white;
          height: 50px;
          border-radius: 53%;">
        <p style="text-align: center;
          margin-top: 2px;
         
          padding: 12px;
          font-weight: 600;">Z O G O R I D E</p>
      </div>
    </ion-card-content>

    <button ion-button round style="position: fixed;
        right: 31%;
        top:64%;
        z-index: 1000;
        font-size: 14px;
        background: black;">INVITE NOW</button>
  </ion-card>

</ion-content>