<ion-header>
    <ion-navbar>
        <ion-title>Ride Details</ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-row style="border: 1px solid; border-color: #e0e0e0;">
            <ion-col width-33 style="text-align:center">
                <span style="color: black;font-size:27px;">
                    <ion-icon name="pin" style="color:#07ce82;font-size:27px;"></ion-icon>
                </span>
                <p style="font-size: 11px;">Purple pride square, kalewadi phata Kalewadi, Pune, Maharashtra 411057</p>
            </ion-col>
            <ion-col width-20 style="text-align:center">
                <img src="assets/imgs/arrow.jpeg" width="30" height="35" style="margin-top: 0%">
            </ion-col>
            <ion-col width-33 style="text-align:center">
                <span style="color: black;font-size:27px;">
                    <ion-icon name="pin" style="color:#b60817;font-size:27px;"></ion-icon>
                </span>
                <p style="font-size: 11px;">Hadapsar, Pune, Maharashtra</p>
            </ion-col>
        </ion-row>

        <ion-row style="border: 1px solid; border-color: #e0e0e0;margin-top: 8%;">
            <ion-col width-40 style="text-align:center">
                <span style="color: black;font-size:27px;">
                    <ion-icon name="clock" style="color:#07ce82;font-size:27px;"></ion-icon>
                </span>
                <p style="font-size: 11px;"> Thursday October 25, 12:20 pm</p>
            </ion-col>
            <ion-col width-20 style="text-align:center">
                <img src="assets/imgs/arrow.jpeg" width="30" height="35" style="margin-top: 0%">
                <p style="font-size: 11px;color:#e63939;"> 0 hrs 56 min</p>
            </ion-col>
            <ion-col width-40 style="text-align:center">
                <span style="color: black;font-size:27px;">
                    <ion-icon name="clock" style="color:#b60817;font-size:27px;"></ion-icon>
                </span>
                <p style="font-size: 11px;"> Thursday October 25, 1:14 pm</p>
            </ion-col>
        </ion-row>


        <ion-row style="border: 1px solid; border-color: #e0e0e0;margin-top: 8%;">
            <ion-col width-33>
                <img src="assets/imgs/milestone-png-1.png" width="25" height="30" style="margin-top: 9%;margin-left:34%;">
            </ion-col>

            <ion-col width-33>
                <p style="font-size: 18px;margin-top: 15%;text-align: center;"> 18.6 Km</p>
            </ion-col>
            <ion-col width-33>
            </ion-col>
        </ion-row>
    </ion-list>


    <ion-row style="background:#f4f4f4;margin-top:3px;">
        <ion-col width-33>
            <img src="assets/imgs/rupees2.png" width="50" height="50" style="margin-top:3%;margin-left:25%;">
        </ion-col>

        <ion-col width-33>
            <p style="text-align:center;font-size:18px;">
                <span style="color: green;font-size:18px;font-weight: 600;"> 120</span>
            </p>

        </ion-col>
        <ion-col width-33>
        </ion-col>
    </ion-row>
</ion-content>
<ion-footer>
    <ion-row style="width:100%;margin:0%;height:12%;background:#87c23f;">
        <ion-col>
            <button ion-button full style="margin: 0%;height:50px;background:#87c23f;font-size: 14px" (click)="Payment()">Make Payment</button>
        </ion-col>
    </ion-row>
</ion-footer>