<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>
<ion-content no-padding>
    <ion-grid style="height:40%;background:#8eda4a;">
        <ion-card style="margin: 0px;width: 28%;border-radius: 15px;padding-top: 46ppx;position: fixed;margin-top: 30px;margin-left: 37%;margin-bottom: 20px;">
            <img src="assets/icon/zogologo.png" style="width: 60%;margin: 18%;">
        </ion-card>
        <h5 style="margin: 10px 0px 0px 18px;;color: white;font-weight: 400;padding-top: 38%;text-align: center;font-size: 1.8rem;">Ride Booked</h5>
    </ion-grid>
    <ion-card style="width: 60%;height: 20%;margin-top: -21px;margin-left: 22%;border-radius: 8%;">
        <h1 style="text-align: center;font-size: 62px;margin-top: 12%;color: #fb7d0c;font-family: fantasy;letter-spacing: 5px;">{{displayTime}}</h1>
    </ion-card>
    <ion-grid no-padding style="padding-top: 26px;">
        <ion-row style="width: 90%;
        background: #ffffff;
        margin-left: 5%;
        border-radius:8px;
        box-shadow: 0px 1px 15px 3px #cfcfcf;">
            <ion-col col-2>
                <ion-icon style="font-size: 46px;color: #8eda4a;margin-top: 9px;margin-left: 8px;margin-bottom: 9px;" name="md-pin"></ion-icon>
            </ion-col>
            <ion-col col-10 style="margin-top: 5px;">
                <p style="font-size: 18px;margin-top: 8px;margin-bottom: 0;">Pickup Location</p>
                <p style="margin: 0;margin-top: 3px;color: grey;">{{pickup_location}}</p>
            </ion-col>
        </ion-row>
        <ion-row style="width: 90%;
        background: #ffffff;
        margin-left: 5%;
        margin-top: 4%;
        border-radius:8px;
        box-shadow: 0px 1px 15px 3px #cfcfcf;">
            <ion-col col-2>
                <ion-icon style="font-size: 46px;color: #8eda4a;margin-top: 9px;margin-left: 8px;margin-bottom: 9px;" name="md-pin"></ion-icon>
            </ion-col>
            <ion-col col-10 col-10 style="margin-top: 5px;">
                <p style="font-size: 18px;margin-top: 8px;margin-bottom: 0;">Drop Location</p>
                <p style="margin: 0;margin-top: 3px;color: grey;">{{drop_location}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer style="width: 90%;
height: 100px;
background: #ffffff;
margin-left: 5%;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
box-shadow: 0px 1px 15px 3px #cfcfcf;">
    <ion-row style="margin-top: 22px;width: 90%;margin-left: 5%;">
        <ion-col>
            <button ion-button full style="margin: 0%;height:50px;background:#87c23f;font-size: 14px;border-radius: 8px;" (click)="cancelBookingAlert()">Cancel Ride</button>
        </ion-col>
        <ion-col>
            <button ion-button full style="margin: 0%;height:50px;background:#87c23f;font-size: 14px;border-radius: 8px;" (click)="ScanQrcode()">
                <ion-icon name="qr-scanner"></ion-icon>&nbsp;&nbsp;Unlock Bike</button>
        </ion-col>
    </ion-row>
</ion-footer>