<ion-header>
  <ion-navbar>
    <ion-title>Bike</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background: none transparent;">
  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Result from Scan: {{ scannedCode }}
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-row style="width:100%;margin:0%;height:12%;background:#87c23f;">
    <button ion-button full style="margin: 0%;height:50px;background:#87c23f;font-size: 14px" (click)="BikeUnlock()">Bike
      Unlocked</button>
  </ion-row>
</ion-footer>