page-pickup-location-search {
    .navColor .toolbar-background.toolbar-background-md{
        background-color: #87C23F;
    }

    .search_bar{
        margin:0px;
        .searchbar-input {
            background-color: rgba(255, 255, 255, 0.7) !important;
            box-shadow: none !important;
            border-radius: 5px !important;
        }
    }


}
