<ion-header>
  <ion-navbar class="navColor">
    <ion-searchbar class="search_bar" [(ngModel)]="autocomplete.query" (ionInput)="updateSearch()" (ionCancel)="onCancel($event)"
      placeholder="Search Places...">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
</ion-content>