<ion-header>
    <ion-navbar>
        <button ion-button menuToggle style="color:white;">
            <ion-icon name="md-arrow-back"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>
<ion-content no-padding class="no-scroll">       
    <div style="background:#8eda4a;padding-top: 4%;">
        <!-- <ion-icon name="md-arrow-back" style="font-size: 2.6em;color: white;margin: 1% 0% 0% 4%;" (click)="goBack()"></ion-icon> -->
        <ion-card style="margin: 0px;width: 28%;border-radius: 15px; padding-top: 0%;margin-left: 37%;">
            <img src="assets/icon/zogologo.png" style="width: 60%;margin: 18%;">
        </ion-card>    
        <h5 style="color: white;font-weight: 300;text-align: center;font-size: 1.8rem;padding-top: 0%;padding-bottom: 12%;">Sign Up</h5> 
    </div>
    <div>
        <div>
            <ion-card style="margin-top: -12%;border-radius: 4%;height: auto;">
              <p style="font-size: 1.7rem;margin: 25px;color:#605b5b">Verify Code</p>
              <p style="margin: 25px;margin-bottom: 0px;color: grey;">Please type verification code send to your mobile no. {{mobileNum}}</p>
                    <form [formGroup]="signupForm">   
                        <ion-row style="width: 58%;height: 36px;margin: 27px 30px 42px 78px;">
                                <ion-input type="number" maxlength="1" style="border: 1px solid #b6b2b2;margin-right: 15px;" formControlName="otp1"  ></ion-input>  
                                <ion-input type="number" maxlength="1" style="border: 1px solid #b6b2b2; margin-right: 15px;" formControlName="otp2" ></ion-input>  
                                <ion-input type="number" maxlength="1" style="border: 1px solid #b6b2b2; margin-right: 15px;" formControlName="otp3"  ></ion-input>  
                                <ion-input type="number" maxlength="1" style="border: 1px solid #b6b2b2;" formControlName="otp4"  ></ion-input>  
                        </ion-row>  
                    </form>
            </ion-card>
        </div>
        <div style="margin: -34px 0px 0px 95px;">
                <button ion-button round style="width: 18.2rem;color:white;background: #8eda4a;font-weight:400;text-transform: none;" (click)="signupUser()">Submit</button>
                <div  style="padding-top: 25px;">
                    <p style="color:grey;margin-left: -13px;">OTP not recieved ?<span style="color: black;margin-left: 5px;" (click)="resendOtp()">Resend OTP</span></p>
            </div>
        </div>
    </div>
</ion-content>
