<ion-content no-padding>
    <div style="background: #8eda4a;padding-top: 4%;">
        <ion-card style="margin: 0px;width: 28%;border-radius: 15px; padding-top: 0%;margin-left: 37%;">
            <img src="assets/icon/zogologo.png" style="width: 60%;margin: 18%;">
        </ion-card>
        <h5 style="color: white;font-weight: 300;text-align: center;font-size: 1.8rem;padding-top: 0%;padding-bottom: 21%;">Sign Up</h5>
    </div>
    <div>
        <div>
            <ion-card style="margin-top: -21%;border-radius: 4%;height: auto;overflow-y: auto;padding-bottom: 7%;">
                <form [formGroup]="signupForm">
                    <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
                        <ion-col col-10 no-padding>
                            <ion-input placeholder="Mobile Number*" type="number" formControlName="mob_num"></ion-input>
                        </ion-col>
                        <ion-col col-2 no-padding style="text-align: right;margin-top: 7%;color: gray;">
                            <ion-icon name="call"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p *ngIf="!signupForm.controls.mob_num.valid && (signupForm.controls.mob_num.dirty || submitAttempt)" style="color:#ff0000bf;text-align: center">
                    Please Enter a valid number</p>
                    <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
                        <ion-col col-10 no-padding>
                            <ion-input placeholder="Email*" formControlName="email_add"></ion-input>
                        </ion-col>
                        <ion-col col-2 no-padding style="text-align: right;margin-top: 7%;color: gray;">
                            <ion-icon name="mail"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p *ngIf="!signupForm.controls.email_add.valid && (signupForm.controls.email_add.dirty || submitAttempt)" style="color:#ff0000bf;text-align: center">
                    Please Enter valid email address</p>
                    <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
                        <ion-col col-10 no-padding>
                            <ion-input placeholder="Driving License *" formControlName="dlno"></ion-input>
                        </ion-col>
                        <ion-col col-2 no-padding style="text-align: right;margin-top: 7%;color: gray;">
                            <ion-icon name="mail"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p *ngIf="(!signupForm.controls.dlno.valid && (signupForm.controls.dlno.dirty|| submitAttempt))" style="color:#ff0000bf;text-align: center">
                    DL no. is required </p>
                    <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
                        <ion-col col-10 no-padding>
                            <ion-input placeholder="Name as on Driving License*" formControlName="Name"></ion-input>
                        </ion-col>
                        <ion-col col-2 no-padding style="text-align: right;margin-top: 7%;color: gray;position:initial">
                            <ion-icon name="person"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p *ngIf="!signupForm.controls.Name.valid && (signupForm.controls.Name.dirty || submitAttempt)" style="color:#ff0000bf;text-align: center">
                    Please Enter your Name as per your Driving license</p>
                    <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
                        <ion-col col-10 no-padding>
                            <ion-input placeholder="Password*" type="{{type}}" formControlName="pass"></ion-input>
                        </ion-col>
                        <ion-col col-2 no-padding style="text-align: right;margin-top: 7%;color: gray;position:initial" (click)="toggleShow(0)">
                            <ion-icon name="eye"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p *ngIf="!signupForm.controls.pass.valid && (signupForm.controls.pass.dirty || submitAttempt)" style="color:#ff0000bf;text-align: center">
                    Please Enter password</p>
                    <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
                        <ion-col col-10 no-padding>
                            <ion-input type="{{type1}}" placeholder="Confirm Password*" formControlName="cnfrm_passwrd"></ion-input>
                        </ion-col>
                        <ion-col col-2 no-padding style="text-align: right;margin-top: 7%;color: gray;" (click)="toggleShow(1)">
                            <ion-icon name="eye"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p *ngIf="!signupForm.controls.cnfrm_passwrd.valid && (signupForm.controls.cnfrm_passwrd.dirty || submitAttempt)" style="color:#ff0000bf;text-align: center">
                    Please retype password</p>
                </form>
            </ion-card>
        </div>
        <div style="margin: -30px 0px 0px 95px;">
            <button ion-button round style="width: 18.2rem;color:white;background: #8eda4a;font-weight:400;text-transform: none;" (click)="getotp()">Sign Up</button>
            <button ion-button round style="width: 18.2rem;color: white;background:#3B5998;text-transform: none;font-weight:400;" (click)="FacebookSignup()">Sign Up with Facebook</button>
            <button ion-button round style="width: 18.2rem;color: white;background:#dd4b39;text-transform: none;font-weight:400;" (click)="upload()">Sign Up with Google</button>
            <div (click)="gotoLogin()">
                <p style="color:grey;margin-left: -13px;">Already have an account ?
                    <span style="color: black;margin-left: 5px;">Sign In
                    </span>
                </p>
            </div>
        </div>
    </div>
</ion-content>